.chat {

  .left-side {
    display: flex;
    flex-direction: column;
    flex: 0 1 350px;
    border-right: 1px solid #eee;

    @media (max-width: 540px) {
      position: fixed;
      height: 100%;
      max-height: 100%;
      z-index: 1;
      width: calc(100% - 50px);
      background: #fff;
      top: 0;
      left: 0;
      transition: left .5s;
      box-shadow: 1px 0 51px 0 #000;

      &.hide {
        left: calc(-100% - 50px);
      }
    }
  }

  .el {
    &-container {
      height: 100vh;
      flex: 0 1 100%;
    }

    &-main {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      @media (max-width: 540px) {
        padding: 5px;
      }
    }
  }

  &__header {
    height: 60px;
    font-weight: bold;
    font-size: 18px;

    &_users {
      padding: 20px 15px;
      border-bottom: 1px solid #eee;
    }

    &_message {
      border-bottom: 1px solid #eee;
    }

    &_add_room{
      padding: 10px 15px;
      border-bottom: 1px solid #eee;
    }
  }
}

.aside-button {
  display: none;
}

@media (max-width: 540px) {
  .aside-button {
    display: inline-block;
  }

}
