.messages {

  flex: 0 1 100%;
  overflow-y: auto;
  padding: 0 5px;

  @include scroll;

  &__item {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 3px;
    padding: 5px;
    transition: .2s;

    &:hover {
      background: rgba(128, 140, 148, 0.1);
    }

    &-text {
      max-width: 60%;
      min-width: 15%;
      display: inline-block;
      margin-bottom: 5px;
      background: #eaf1f7;
      color: #6e7a82;
      padding: 10px;
      white-space: pre-wrap;
      font-size: 14px;
      line-height: 16px;

      @media (max-width: 540px) {
        max-width: calc(100% - 15px);
      }

      .el-card__body {
        padding: 8px;
      }
    }

    &_me {
      align-items: flex-end;

      .messages__item-text {
        background: #83a8c3;
        color: #ffffff;
      }
    }

    &-date {
      font-size: 10px;
      color: #7f828b;
    }

  }

}

