.room-list {
  flex: 0 1 100%;
  overflow-y: auto;

  @include scroll();

  &-item {
    width: 100%;
    padding: 20px 20px 20px 35px;
    transition: background 0.2s;
    will-change: background;
    cursor: pointer;

    &:hover {
      background: #eee;
    }

    .status {
      position: relative;
      word-break: break-all;

      > sup {
        position: absolute;
        top: 8px;
        right: calc(100% + 15px) !important;
        width: 10px;
        height: 10px;
      }
    }

    .unread {
      width: 100%;
      padding-right: 30px;

      > sup {
        top: 0;
        bottom: 0;
        margin: auto 0;
        left: calc(100% - 15px);
        width: 30px;
        height: 30px;
        transform: none;
        border-radius: 50%;
        padding: 5px;
      }
    }

    &.active {
      background: #585353;
      color: #fff;
    }
  }
}
