.users-list {
  flex: 0 1 100%;
  overflow-y: auto;

  @include scroll;

  &__item {
    cursor: pointer;
    padding: 5px 10px;
    border-bottom: 1px solid #eee;
    border-right: none;
    width: 100%;
    display: flex;
    align-items: center;
    color: #808c94;
    transition: .2s;

    &:hover {
      background-color: ghostwhite;
    }

    &_active {
      background-color: $scroll-background;
    }

    @media (max-width: 540px) {
      &-text{
        display: none;
      }
    }
  }
}
